@import url('https://rsms.me/interface/interface.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font: 100%/1.5 Interface, sans-serif;
    color: #333;
}

#root {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
}

#sidebar {
        width: 250px;
        overflow: auto;
        background: #eee;
    }
    #sidebar ul {
        list-style: none;
    }
    #sidebar li {
        display: grid;
        grid-template-columns: 3em 1fr auto;
        grid-column-gap: .5em;
        padding: .5em;
        height: 80px;
        cursor: pointer;
        transition: background .2s, color .2s;
    }
    #sidebar li:hover {
        background: #ddd;
    }
    #sidebar li.current {
        background: black;
        color: #eee;
        font-weight: 500;
    }
    #sidebar li .cover {
        display: block;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        background: #bbb;
    }
    #sidebar li .title {
        display: block;
        overflow: hidden;
        line-height: calc(80px - 1em);
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #sidebar li .chapters {
        display: none;
        margin: auto;
        padding: .5em;
        border-radius: 50%;
        width: 2em;
        background: white;
        filter: invert(100%);
        transition: filter .2s;
    }
    #sidebar li.current .chapters {
        display: block;
    }
    #sidebar li .chapters:hover {
        filter: none;
}

#viewer {
        display: grid;
        grid-template-columns: auto 1fr auto;
        overflow: auto;
    }
    #viewer .page {
        display: block;
        margin: auto;
        grid-column: 2;
        max-width: 100%;
    }
    #viewer.zoomable .page {
        cursor: zoom-in;
    }
    #viewer.zoom .page {
        max-width: none;
        cursor: zoom-out;
    }
    #viewer .test {
        position: absolute;
        left: -9999em;
        top: -9999em;
        opacity: 0;
        pointer-events: none;
    }
    #viewer .next, #viewer .prev {
        grid-row: 1;
        grid-column: 3;
        width: 40px;
        background: #ddd url('../img/next.svg') center / 20px 20px no-repeat;
        cursor: pointer;
        opacity: 0;
        transition: background .2s, opacity .2s;
    }
    #viewer.loading .next, #viewer.loading .prev {
        pointer-events: none;
    }
    #viewer .next:hover, #viewer .prev:hover {
        opacity: 1;
    }
    #viewer .next:active, #viewer .prev:active {
        background-color: #ccc;
    }
    #viewer .prev {
        grid-column: 1;
        background-image: url('../img/prev.svg');
}

#chapter-select {
        position: relative;
        padding: 2em;
        overflow: auto;
        background: black;
        color: #eee;
    }
    #chapter-select .close {
        position: absolute;
        right: 2em;
        top: 3.5em;
        cursor: pointer;
        filter: invert(100%);
    }
    #chapter-select h1, #chapter-select h2 {
        color: white;
        font-weight: normal;
        font-size: 3em;
        letter-spacing: -1.7px;
    }
    #chapter-select h2 {
        font-size: 2em;
    }
    #chapter-select .cover {
        float: right;
        margin-left: 1em;
    }
    #chapter-select p, #chapter-select ul, #chapter-select ol {
        margin: 1em 0;
    }
    #chapter-select ul, #chapter-select ol {
        list-style: none;
    }
    #chapter-select .info li {
        display: grid;
        grid-template-columns: 6em 1fr;
        grid-column-gap: .5em;
    }
    #chapter-select .chapters li {
        display: grid;
        grid-template-columns: 7em 3em 1fr;
        grid-column-gap: .5em;
    }
    #chapter-select li strong {
        color: white;
        font-size: .8em;
        line-height: 1.9;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    #chapter-select .chapters li {
        padding: .1em 1em;
        cursor: pointer;
    }
    #chapter-select .chapters li:hover {
        background: #ddd;
        color: #333;
    }
    #chapter-select .chapters li.current {
        background: white;
        color: #333;
    }
    #chapter-select .chapters li strong {
        color: #eee;
        font-weight: normal;
        text-align: right;
    }
    #chapter-select .chapters li:hover strong,
    #chapter-select .chapters li.current strong {
        color: #333;
    }
    #chapter-select .chapters li em {
        color: white;
        font-style: normal;
        font-weight: bold;
        text-align: right;
    }
    #chapter-select .chapters li:hover em,
    #chapter-select .chapters li.current em {
        color: black;
    }
    #chapter-select .summary {
        color: #aaa;
        margin: 1.5em 0;
}

#busy-screen {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: black;
        opacity: 0;
        pointer-events: none;
        transition: opacity .2s;
    }
    #busy-screen.show {
        cursor: wait;
        opacity: .2;
        pointer-events: all;
}
